@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Syncopate&display=swap');

html { 
    background: url(./evening-sky.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


div.topline {
    font-family: "Fira Code", monospace;
    border: solid #e5c890 2px;
    padding: 0.2% 0 0.2% 1.5%;
    margin: 1% 3% 7px 3%;
    background-color: #51576d;

}

#window_neofetch {
    position: absolute;
    z-index: 9;
    background-color: #414559;
    border: 2px solid #81c8be;
    text-align: left;
    font-family: "Fira Code", monospace;
    font-weight: 600;
    color: #c6d0f5;
    padding: 15px 15px 0 17px;
  }

#window_about {
    position: absolute;
    z-index: 9;
    background-color: #414559;
    border: 2px solid #81c8be;
    text-align: left;
    font-family: "Fira Code", monospace;
    font-weight: 600;
    color: #c6d0f5;
    padding: 15px 15px 0 17px;
}

a:link {
    color: #f2d5cf;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #f4b8e4;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ea999c;
    background-color: transparent;
    text-decoration: none;
  }